.title-style {
    margin-top: 10px;
    color: #222226;
    text-align: center;
    font: 700 16px / 1.25 "Sofascore Sans", -apple-system, system-ui, BlinkMacSystemFont, Dubai, "Segoe UI", Tahoma, "Noto Sans Arabic UI", "Dejavu Sans", Arial, sans-serif;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98%;
  }
  .featured-game-container{
      background-color: rgba(229, 233, 239, 0.4);
      height: 50%;
      width: 100%;
      position: relative;
      margin: 8px;
      margin-bottom: 50px;
      border-radius: 8px;
  }

  .featured-game-div{
    /* background-color: red; */
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: 100%;
    padding: 8px 12px;
  }
.featured-team-data-wrapper{
    /* background-color: red; */
    margin: 30px;
    height: 60%;
}
.featured-team-img-wrapper{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
}
.featured-team-img-div{
    display: flex;
    flex-direction: column;
    /* background-color: red; */
    -webkit-box-pack: center;
    justify-content: center;
    align-items: center;
}
.featured-team-name-div{
    /* position: absolute;
    bottom: -22px;
    left: 50%;
    transform: translateX(-50%); */
}
.featured-team-name{
    /* background-color: red; */
    color: #222226;
    text-align: center;
    display: block;
    font: 700 12px / 1.14 "Sofascore Sans", -apple-system, system-ui, BlinkMacSystemFont, Dubai, "Segoe UI", Tahoma, "Noto Sans Arabic UI", "Dejavu Sans", Arial, sans-serif;
    text-overflow: ellipsis;
    overflow-x: clip;
    white-space: nowrap;
    min-width: 0px;
}

.featured-game-date-wrapper{
    display: block;
    unicode-bidi: isolate;
}

.featured-game-date-time{
    color: #222226;
    text-align: center;
    display: block;
    font: 700 18px / 1.33 "Sofascore Sans", -apple-system, system-ui, BlinkMacSystemFont, Dubai, "Segoe UI", Tahoma, "Noto Sans Arabic UI", "Dejavu Sans", Arial, sans-serif;
}

.featured-game-date{
    color: rgba(34, 34, 38, 0.45);
    text-align: center;
    display: block;
    font: 400 14px / 1.14 "Sofascore Sans", -apple-system, system-ui, BlinkMacSystemFont, Dubai, "Segoe UI", Tahoma, "Noto Sans Arabic UI", "Dejavu Sans", Arial, sans-serif;
}
 