.App {
  text-align: center;
}

.center-div{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-left{
  display: flex;
  align-items: center;
  justify-content: left;
}
body{
  background-color: #d7dde3
}

